// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid white;
  }
  h4 {
    -webkit-text-fill-color: #4646b6;
    -webkit-text-stroke-color: #e7be33;
    -webkit-text-stroke-width: 1.3px;
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
